body {
  background-color: rgba(255, 255, 255, 0.4) !important;
  /*important overrides bootstrap css*/
}

nav {
  display: block;
  /* background-color: #092039 !important; */
  background-color: #333 !important;
}

.nav-link {
  color: rgb(255, 255, 255) !important;
}

.navbar-brand {
  color: rgb(255, 255, 255) !important;
}

.verticalnav {
  /* margin: 2%; */
  margin-left: 0%;
  height: max-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #3b3b3b;
  /* padding: 1%; */
  max-width: 100%;
}

.verticalnav a {
  padding: 5%;
  font-size: larger;
}

.row {
  max-width: 100vw;
}

.myfoot {
  color: rgb(255, 255, 255);
  /* margin-top: 300px !important; */
  background-color: #333;
  display: flex;
  justify-content: center;
  height: 150px;
  align-items: center;
  padding: 3%;
}

/* a.admin-link:hover {
  color: aliceblue;
  cursor: pointer !important;
} */
.verticalnav a:hover {
  background-color: #092039;
  color: aliceblue;
  cursor: pointer !important;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

.carcontainer {
  position: relative;
  margin-top: 50px;
  width: 500px;
  height: 300px;
}

.caroverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.carcontainer:hover .caroverlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.carcontainer img {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 0;
}

.cartitle {
  position: absolute;
  width: 500px;
  left: 0;
  top: 120px;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(10, 10, 10);
  z-index: 1;
  transition: top 0.5s ease;
}

.carcontainer:hover .cartitle {
  top: 90px;
}

.carcontainer.carbtn {
  position: absolute;
  width: 500px;
  left: 0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.carbtn a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: rgb(158, 37, 37);
  border: solid 2px rgb(0, 0, 0);
  z-index: 1;
}

.card {
  padding: 3%;
  overflow: visible;
  overflow-x: scroll;
  width: 80vw;
}

.mycar {
  position: relative;
  margin-top: 30px;
}

.carcontainer:hover .carbtn {
  opacity: 1;
}

@media (min-width: 992px) {
  nav.navbar.navbar-expand-lg.navbar-light {
    flex-direction: column;
    height: 120px;
  }

  li {
    padding-left: 15px;
  }

  .nav-link {
    color: rgb(255, 255, 255) !important;
  }

  .navbar-brand {
    color: rgb(255, 255, 255) !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .myfoot {
    color: rgb(255, 255, 255);
    /* margin-top: 300px; */
    background-color: #333;
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
    padding: 3%;
  }
}

@media (min-width: 597px) {
  .myfoot {
    color: rgb(255, 255, 255);
    /* margin-top: 50px; */
    background-color: #333;
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
    padding: 3%;
  }
}

@media screen and (max-width: 600px) {
  .verticalnav a {
    font-size: 2.2vw;
  }

  .navbar-brand h1 {
    font-size: 1.5rem;
  }

}