body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


nav.navbar.navbar-expand-lg.navbar-light {
    flex-direction: column;
    height: 120px;

}

li {
    padding-left: 25px;
}

.navbar-brand {
    margin-left: 45px;

}

.navbar-brand h1 {
    color: white;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}


.navbar {
    /* background-color: rgb(176, 140, 106);      */
    background-color: #333;
    color: white;

}

.myfoot {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
}


td {
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}


.randheight {
    margin-top: 120px;
}



@media (max-width: 391px) {

    /* Navbar adjustments */
    nav.navbar.navbar-expand-lg.navbar-light {
        flex-direction: column;
        height: auto;
    }

    .navbar-toggler {
        margin-top: 10px;
        margin-left: 0;
    }

    .navbar-collapse {
        padding: 0;
    }

    .nav-item {
        margin: 5px 0;
    }

    .navbar-brand {
        text-align: center;
        margin-left: 0;
    }

    .navbar-brand h1 {
        font-size: 1.5rem;
    }

    /* Form adjustments */
    .form-group {
        padding: 5px;
        /* Adjust the padding for form groups */
    }

    form {
        background-color: rgba(18, 11, 1, 0.471);
        height: auto;
        padding: 10px;
        /* Increase padding for the form */
    }

    /* Search button adjustments */
    .custom-btn-color {
        background-color: #0f0404ab;
        color: #ffffff;
        width: 100%;
    }

    /* Toggler content adjustments */
    .navbar-toggler {
        margin-top: 10px;
        margin-left: 0;
        padding: 0;
    }

    .navbar-toggler-icon {
        background-color: white;
    }
}