body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    padding: 20px;
}

.myfoot {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    /* position: sticky; */
    position: fixed;
    width: 100%;
    bottom: 0;
}

nav.navbar.navbar-expand-lg.navbar-light {
    flex-direction: column;
    height: 120px;

}

li {
    padding-left: 25px;
}

.navbar-brand {
    margin-left: 45px;

}

.navbar-brand h1 {
    color: white;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}


.navbar {
    /* background-color: rgb(176, 140, 106);      */
    background-color: #333;
    color: white;

}

.randheight {
    margin-top: 100px;
}


/* .custom-btn-color{
    background-color: #0f0404ab; 
    color: #ffffff; 
} */


@media (max-width: 992px) {
    .navbar-toggler {
        margin-top: 20px;
        margin-left: -30px;
        /* Adjust the margin for the mobile menu button */
        display: block;
        padding: 0;
    }

    .navbar-toggler-icon {
        background-color: white;
    }
}


@media (max-width: 391px) {

    /* Navbar adjustments */
    nav.navbar.navbar-expand-lg.navbar-light {
        flex-direction: column;
        height: auto;
    }

    .navbar-toggler {
        margin-top: 10px;
        margin-left: 0;
    }

    .navbar-collapse {
        padding: 0;
        flex-basis: 0% !important;
    }

    .nav-item {
        margin: 5px 0;
    }

    .navbar-brand {
        text-align: center;
        margin-left: 0;
    }

    .navbar-brand h1 {
        font-size: 1.5rem;
    }

    /* Search button adjustments */
    .custom-btn-color {
        background-color: #0f0404ab;
        color: #ffffff;
        width: 100%;
    }

    /* Toggler content adjustments */
    .navbar-toggler {
        margin-top: 10px;
        margin-left: 0;
        padding: 0;
    }

    .navbar-toggler-icon {
        background-color: white;
    }
}

@media (max-width:992px) {

    .nav-link {
        display: block;
        padding: 0rem 1rem !important;
    }

    li {
        padding-left: 0px !important;
    }
}